version: '3'

services:
  notebook:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - 8888:8888
  database:
    image: 'postgres:14.1-alpine'
    ports:
      - '5678:5432'
    volumes:
      - database:/var/lib/postgresql/data
    env_file:
      - .env
volumes:
  database:
